/***********************
    REGOLE GENERALI 
************************/

/** Reset Pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Stile generale */
html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  padding: 20px 0;
}

h3 {
  margin: 5px 0 20px;
  font-size: 0.6rem;
}

/***************************
    CLASSI RIUTILIZZABILI 
****************************/

/** Contenitori */
.container {
  margin: 0 auto;
  max-width: 70%;
}

.container-small {
  margin: 0 auto;
  max-width: 50%;
}

/** Regole Flexbox */
.flex-container-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-aroud {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

/** Positionamento */

.p-relative {
  position: relative;
}

/** Colori Testo */
.text-white {
  color: white;
}

.text-light-blue {
  color: #0282F9;
}

/* Colori sfondo */
.bg-light-blue {
  background-color: #0282F9;
}


/************
    HEADER 
************/
header {
  height: 90px;
}

/* Logo */
#logo-small {
  width: 60px;
}

.active {
  /* color: #0282F9; */
  text-decoration: underline;
  text-decoration-thickness: 4px;     /* Spessore linea */
  text-underline-offset: 37px;        /* Distanza linea dal testo */

}

/************
    MAIN 
************/

/* Sezione hero */
.hero-section {
  width: 100%;
  height: 229px;
  background-image: url(../src/assets/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/** Sezione Comics */
.section-comics {
  font-size: 1.5rem;
  padding: 30px;
  background-color: #1C1C1C;
}

.container-card-comics {
  flex-basis: calc((100% - 75px) / 6);
  max-height: 127px;
  padding-bottom: 20px;
}

/* Etichetta serie attuale */
.label-current-series {
  font-size: 1rem;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  top: -48px;
  left: 0;

  /* Position */
  position: absolute;
}

.card {
  width: 100%;
  height: 100%;

}

.btn-load-more {
  border: transparent;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 20px auto;
  padding: 10px 35px;
  color: white;
}

/** Barra di navigazione main */
.nav-main {
  height: 150px;
  line-height: 150px;
}

.img-nav-main {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

/************
    FOOTER 
************/

/** Footer Top */
.footer-top {
  background-image: url(../src/assets/img/footer-bg.jpg);
  padding: 35px;
}

.footer-top>div {
  position: relative;
}

.footer-top li {
  color: #7B8086;
}

.logo-sfondo {
  max-width: 440px;

  /* Position */
  position: absolute;
  bottom: -104px;
  right: 0;
  z-index: 0;
}

/** Footer Bottom */
.footer-bottom {
  background-color: #303030;
  height: 100px;

  /* Position */
  position: relative;
  z-index: 1;
}

.footer-bottom>div {
  height: 100%;
}

.bottone-footer-bottom {
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 1px solid #0282F9;
}

.follow-us {
  font-size: 1.3rem;
  font-weight: bold;

  /* Position */
  position: relative;
  top: 25%;
}