/* RESET GENERALE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  /* font-family: ; */
  /* font-size: 1rem; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* CLASSI RIUTILIZZABILI */
.container {
  margin: 0 auto;
  max-width: 1200px;
}